<?xml version="1.0"?>
<model>
  <name>Rescue Quadrotor</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Drone Rescue Project</name>
    <email>ros@todo.todo</email>
  </author>

  <description>
    Quadrotor UAV for earthquake area survey with RGB camera and LiDAR sensors.
    Part of the multi-robot drone rescue system using stigmergic coordination.
  </description>
</model>
